body{
    background-color: #EBE8CE;
}
*{
    font-family: "Sansita", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #332e00;
}


header{
   background-color: #EBE8CE;
   
   
   
}
header span{
    color: #332e00;

}
.nav .nav-link{
    font-size: 20px;
  
    --bs-nav-pills-link-active-bg: #332e00;
    --bs-nav-pills-link-active-color: #EBE8CE;

    color: #332e00;
}
.nav-tabs{
    color: #332e00;
   
   
}

footer{
    background-color: #EBE8CE;
   
}
footer p{
    font-size: 15px;
}

footer div {
    color: #332e00;
    font-size: 20px;
}
.nav-link{
    color: #332e00;
    font-size: 15px;
}

.carousel-inner img{
    
    height: 500px;
    border-radius: 20px;
} 
.offcanvas {
    background-color: #68652d;
}
.form-range{
    height: 0.5rem;
    border-radius: 10px;
}
#lili{
    color: #332e00;

    height: 5px;
    width:300px ;

}
#lulu{
    height: 3px;
}





/*#68652D
#332E00
#EBE8CE
#413c10
#968f58
#c0bb91
 /  

 


